# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local